<div class="walkin">
  <h2 class="walkin-title">Walk In for Designer Job Role</h2>

  <div class="row">
    <div class="date-time">
      <small>Date & Time</small>
      <p class="date-time-content">10-Jul-2021 to 11-Jul-2021</p>
    </div>
    <span class="tilde"></span>
    <div class="location">
      <img src="../../../assets/icons/location.svg" alt="location-icon" />
      <p>Mumbai</p>
    </div>
  </div>

  <hr />

  <div class="job-roles">
    <p class="job-role-label">Job Roles :</p>
    <div class="job-role-list">
      <div class="job-role">
        <div class="job-role-image">
          <img src="../../../assets/icons/computer.svg" alt="job-role-image" />
        </div>
        <p>Instructional Designer</p>
      </div>

      <div class="job-role">
        <div class="job-role-image">
          <img src="../../../assets/icons/computer.svg" alt="job-role-image" />
        </div>
        <p>Instructional Designer Instr Designer</p>
      </div>

      <div class="job-role">
        <div class="job-role-image">
          <img src="../../../assets/icons/computer.svg" alt="job-role-image" />
        </div>
        <p>Instructional Designer</p>
      </div>
    </div>
  </div>

  <div class="opportunity center">
    <p>Internship opportunity for MCA studentsInternship opportunity for MCA students</p>
  </div>

  <div class="view-more center">
    <button class="btn-success" (click)="navigateTo('1')">VIEW MORE DETAILS</button>
  </div>
</div>
