<div *ngIf="walkin" class="walkin">
  <h2 class="walkin-title">{{ walkin.title }}</h2>

  <div class="row">
    <div class="date-time">
      <small>Date & Time</small>
      <p class="date-time-content">
        {{ walkin.startDate}} to {{ walkin.endDate }}
      </p>
    </div>
    <span class="tilde"></span>
    <div class="location">
      <img src="../../../assets/icons/location.svg" alt="location-icon" />
      <p>{{ walkin.city }}</p>
    </div>
  </div>

  <hr />

  <div class="job-roles">
    <p class="job-role-label">Job Roles :</p>
    <div class="job-role-list">
      <div class="job-role" *ngFor="let jobRole of walkin.jobRoles">
        <div class="job-role-image">
          <img
              *ngIf="jobRole.imageUrl; else jobRoleImageElse"
              [attr.src]="jobRole.imageUrl"
              alt="job-role-image"
            />
            <ng-template #jobRoleImageElse>
              <img
                src="../../../assets/icons/computer.svg"
                alt="job-role-image"
              />
            </ng-template>
        </div>
        <p>{{ jobRole.title }}</p>
      </div>
    </div>
  </div>

  <div
    class="opportunity center"
    *ngFor="let opportunity of walkin.opportunities"
  >
    <p>{{ opportunity.opportunity }}</p>
  </div>

  <div class="view-more center">
    <button class="btn-success" (click)="navigateTo(walkin.id)">
      VIEW MORE DETAILS
    </button>
  </div>
</div>
