.box {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 4px 6px #0000003d;
}

.walkin-container {
  padding-bottom: 1rem;
}

.descriptions {
  padding: 1rem;
}

.description {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.description small{
  font-size: 12px;
  color: #666;
}

.description p {
  font-size: 14px;
  color: #222;
  font-family: QuicksandBold, sans-serif;
  margin:1rem 0;
}

.time-slot-container {
  margin-bottom: 2rem;
}

.form-radio {
  margin:1rem 0;
  height: fit-content;
  border-bottom: 1px solid #ccc;
}

.form-radio-items {
  flex-direction: column;
  padding:0.5rem 0; 
}

.form-radio-item {
  margin:0.5rem 0;
}

.upload-resume {
  margin: 1rem 0;
  display: flex;
  height: 24px;
}
  
.upload-resume svg {
  fill: #1f7a54;
  margin-right: 0.5rem;
}

.upload-resume p {
  color: #1f7a54;
  font-size: 1rem;
  font-family: QuicksandBold, sans-serif;
}

.apply-btn {
  width: 100%;
}

