<div class="step-two">
  <!-- education qualifications -->
  <div class="educational dropdown">
    <div
      class="dropdown-toggle open"
      (click)="educationalDropdown.classList.toggle('open')"
      #educationalDropdown
    >
      <p>Education Qualifications</p>
      <div class="dropdown-toggle-image">
        <img
          [class.open]="educationalDropdown.classList.contains('open')"
          src="../../../../../assets/icons/arrow-down.svg"
          alt="up-down"
        />
      </div>
    </div>

    <div
      class="educational-details dropdown-content"
      [class.open]="educationalDropdown.classList.contains('open')"
    >
      <form #educationalForm="ngForm">
        {{ educationalForm.valid }}
        <div class="form-group">
          <small>Aggregate Percentage*</small>
          <input
            type="text"
            name="aggregate_percentage"
            #aggregate_percentage="ngModel"
            [class.err]="
              aggregate_percentage.touched && aggregate_percentage.invalid
            "
            [(ngModel)]="educationalQualifications.aggregatePercentage"
            pattern="^[0-9]{1,2}$"
            required
          />
        </div>

        <div class="form-group">
          <small>Year of Passing*</small>
          <input
            type="tel"
            name="year_of_passing"
            #year_of_passing="ngModel"
            [class.err]="year_of_passing.touched && year_of_passing.invalid"
            [(ngModel)]="educationalQualifications.yearOfPassing"
            pattern="^[0-9]{4}$"
            required
          />
        </div>

        <div class="select-container">
          <!-- qualification -->
          <div class="form-select">
            <small>Qualification*</small>

            <div class="select">
              <div
                class="option-toggle"
                (click)="qualificationRef.classList.toggle('open')"
                #qualificationRef
              >
                <p>{{ educationalQualifications.qualificationName }}</p>
                <img
                  [class.open]="qualificationRef.classList.contains('open')"
                  src="../../../../../assets/icons/arrow-down.svg"
                  alt="arrow-up-down"
                />
              </div>
              <div
                *ngIf="qualifications"
                class="options"
                [class.open]="qualificationRef.classList.contains('open')"
              >
                <!-- qualifications -->
                <div
                  class="option"
                  *ngFor="let qualification of qualifications"
                  (click)="
                    qualificationRef.classList.toggle('open');
                    educationalQualifications.qualificationName =
                      qualification.qualificationName
                  "
                >
                  {{ qualification.qualificationName }}
                </div>
              </div>
            </div>
          </div>

          <!-- stream -->
          <div class="form-select">
            <small>Stream*</small>

            <div class="select">
              <div
                class="option-toggle"
                (click)="streamRef.classList.toggle('open')"
                #streamRef
              >
                <p>{{ educationalQualifications.streamName }}</p>
                <img
                  [class.open]="streamRef.classList.contains('open')"
                  src="../../../../../assets/icons/arrow-down.svg"
                  alt="arrow-up-down"
                />
              </div>
              <div
                class="options"
                [class.open]="streamRef.classList.contains('open')"
              >
                <div
                  class="option"
                  *ngFor="let stream of streams"
                  (click)="
                    streamRef.classList.toggle('open');
                    educationalQualifications.streamName = stream.streamName
                  "
                >
                  {{ stream.streamName }}
                </div>
              </div>
            </div>
          </div>

          <!-- college -->
          <div class="form-select">
            <small>College*</small>

            <div class="select">
              <div
                class="option-toggle"
                (click)="collegeRef.classList.toggle('open')"
                #collegeRef
              >
                <p>{{ educationalQualifications.collegeName }}</p>
                <img
                  [class.open]="collegeRef.classList.contains('open')"
                  src="../../../../../assets/icons/arrow-down.svg"
                  alt="arrow-up-down"
                />
              </div>
              <div
                class="options"
                [class.open]="collegeRef.classList.contains('open')"
              >
                <div
                  class="option"
                  *ngFor="let college of colleges"
                  (click)="
                    collegeRef.classList.toggle('open');
                    educationalQualifications.collegeName = college.collegeName
                  "
                >
                  {{ college.collegeName }}
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <small>If Others, Please Enter Your College Name</small>
            <input
              type="text"
              name="other_college"
              #other_college="ngModel"
              [class.err]="other_college.touched && other_college.invalid"
              [(ngModel)]="educationalQualifications.otherCollegeName"
              pattern="^[a-zA-Z]*$"
            />
          </div>
        </div>

        <div class="form-group">
          <small>Where is your college located?*</small>
          <input
            type="text"
            name="college_location"
            #college_location="ngModel"
            [class.err]="college_location.touched && college_location.invalid"
            [(ngModel)]="educationalQualifications.collegeLocation"
            pattern="^[a-zA-Z]*$"
            required
          />
        </div>
      </form>
    </div>
  </div>

  <!-- professional qualifications -->
  <div class="professional dropdown">
    <div
      class="dropdown-toggle open"
      (click)="professionalDropdown.classList.toggle('open')"
      #professionalDropdown
    >
      <p>Professional Qualifications</p>
      <div class="dropdown-toggle-image">
        <img
          [class.open]="professionalDropdown.classList.contains('open')"
          src="../../../../../assets/icons/arrow-down.svg"
          alt="up-down"
        />
      </div>
    </div>

    <div
      class="professional-details dropdown-content"
      [class.open]="professionalDropdown.classList.contains('open')"
    >
      <form #applicantTypeForm="ngForm">
        <div class="form-radio">
          <small>Applicant Type*</small>
          <div class="form-radio-items">
            <div
              class="form-radio-item"
              name="applicant-type"
              (click)="toggleApplicantType()"
            >
              <img
                *ngIf="applicant_type === APPLICANT_TYPE[0]"
                src="../../../../../assets/icons/radio-button-checked.svg"
                alt="selected"
              />
              <img
                *ngIf="applicant_type !== APPLICANT_TYPE[0]"
                src="../../../../../assets/icons/radio-button-unchecked.svg"
                alt="not selected"
              />
              <p>{{ APPLICANT_TYPE[0] }}</p>
            </div>
            <div
              class="form-radio-item"
              name="applicant-type"
              (click)="toggleApplicantType()"
            >
              <img
                *ngIf="applicant_type === APPLICANT_TYPE[1]"
                src="../../../../../assets/icons/radio-button-checked.svg"
                alt="selected"
              />
              <img
                *ngIf="applicant_type !== APPLICANT_TYPE[1]"
                src="../../../../../assets/icons/radio-button-unchecked.svg"
                alt="not selected"
              />
              <p>{{ APPLICANT_TYPE[1] }}</p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- experienced-details -->
  <div *ngIf="applicant_type === APPLICANT_TYPE[1]" class="experienced-details">
    <form #exeperiencedForm="ngForm">
      {{ exeperiencedForm.valid }}
      <div class="form-group">
        <small>Years Of Experience*</small>

        <input
          type="text"
          name="years_of_experience"
          #years_of_experience="ngModel"
          [class.err]="
            years_of_experience.touched && years_of_experience.invalid
          "
          [(ngModel)]="experiencedQualifications.yearsOfExperience"
          pattern="^[0-9]{1,2}$"
          [required]="applicant_type === APPLICANT_TYPE[1]"
        />
      </div>

      <div class="form-group">
        <small>Current CTC* (In Rupees)</small>

        <input
          type="text"
          name="current_ctc"
          #current_ctc="ngModel"
          [class.err]="current_ctc.touched && current_ctc.invalid"
          [(ngModel)]="experiencedQualifications.currentCtc"
          pattern="^[0-9]{1,}$"
          [required]="applicant_type === APPLICANT_TYPE[1]"
        />
      </div>

      <div class="form-group">
        <small>Expected CTC* (In Rupees)</small>

        <input
          type="text"
          name="expected_ctc"
          #expected_ctc="ngModel"
          [class.err]="expected_ctc.touched && expected_ctc.invalid"
          [(ngModel)]="experiencedQualifications.expectedCtc"
          pattern="^[0-9]{1,}$"
          [required]="applicant_type === APPLICANT_TYPE[1]"
        />
      </div>

      <div class="form-checkbox-container">
        <small>Select all The technologies you are expertise in*</small>
        <div
          class="form-checkbox"
          *ngFor="
            let technology of experienced_expertise_technologies;
            let idx = index
          "
        >
          <div
            class="form-checkbox-input"
            (click)="toggleTechnologySelected(TECHNOLOGY_TYPE[2], idx)"
          >
            <img
              *ngIf="technology.selected"
              src="../../../../../assets/icons/checkbox-checked.svg"
              alt="checked"
            />
            <img
              *ngIf="!technology.selected"
              src="../../../../../assets/icons/checkbox-unchecked.svg"
              alt="unchecked"
            />
          </div>
          <p class="form-checkbox-label">{{ technology.technologyName }}</p>
        </div>
      </div>

      <div class="form-group w-lg">
        <small>If others, please mention</small>

        <input
          type="text"
          name="other_expertise_technologies"
          #other_expertise_technologies="ngModel"
          [class.err]="
            other_expertise_technologies.touched &&
            other_expertise_technologies.invalid
          "
          pattern="^[a-zA-Z0-9,\s]*$"
          [(ngModel)]="experiencedQualifications.otherExpertiseTechnologies"
        />
      </div>

      <div class="form-checkbox-container">
        <small>Select all The technologies you are familiar in*</small>
        <div
          class="form-checkbox"
          *ngFor="
            let technology of experienced_familiar_technologies;
            let idx = index
          "
        >
          <div
            class="form-checkbox-input"
            (click)="toggleTechnologySelected(TECHNOLOGY_TYPE[1], idx)"
          >
            <img
              *ngIf="technology.selected"
              src="../../../../../assets/icons/checkbox-checked.svg"
              alt="checked"
            />
            <img
              *ngIf="!technology.selected"
              src="../../../../../assets/icons/checkbox-unchecked.svg"
              alt="unchecked"
            />
          </div>
          <p class="form-checkbox-label">{{ technology.technologyName }}</p>
        </div>
      </div>

      <div class="form-group w-lg">
        <small>If others, please mention</small>

        <input
          type="text"
          name="other_familiar_technologies"
          #other_familiar_technologies="ngModel"
          [class.err]="
            other_familiar_technologies.touched &&
            other_familiar_technologies.invalid
          "
          pattern="^[a-zA-Z0-9,\s]*$"
          [(ngModel)]="experiencedQualifications.otherFamiliarTechnologies"
        />
      </div>

      <div class="form-radio">
        <small>Are you currently under notice period?*</small>

        <div class="form-radio-items">
          <div
            class="form-radio-item"
            name="notice-period"
            (click)="toggleNoticePeriodStatus()"
          >
            <img
              *ngIf="currently_under_notice_period"
              src="../../../../../assets/icons/radio-button-checked.svg"
              alt="selected"
            />
            <img
              *ngIf="!currently_under_notice_period"
              src="../../../../../assets/icons/radio-button-unchecked.svg"
              alt="not selected"
            />
            <p>Yes</p>
          </div>
          <div
            class="form-radio-item"
            name="notice-period"
            (click)="toggleNoticePeriodStatus()"
          >
            <img
              *ngIf="!currently_under_notice_period"
              src="../../../../../assets/icons/radio-button-checked.svg"
              alt="selected"
            />
            <img
              *ngIf="currently_under_notice_period"
              src="../../../../../assets/icons/radio-button-unchecked.svg"
              alt="not selected"
            />
            <p>No</p>
          </div>
        </div>
      </div>

      <div class="notice-period">
        <div class="form-group w-lg">
          <small>If yes,when will your notice period end?*</small>
          <input
            type="date"
            name="notice_period_end"
            #notice_period_end="ngModel"
            [class.err]="notice_period_end.touched && notice_period_end.invalid"
            [(ngModel)]="experiencedQualifications.noticePeriodEnd"
            [required]="
              applicant_type === APPLICANT_TYPE[1] &&
              currently_under_notice_period
            "
          />
        </div>

        <div class="form-group w-lg">
          <small>how long is your notice period?* (mention in months)</small>

          <input
            type="text"
            name="notice_period_months"
            #notice_period_months="ngModel"
            [class.err]="
              notice_period_months.touched && notice_period_months.invalid
            "
            [(ngModel)]="experiencedQualifications.noticePeriodMonths"
            pattern="^[0-9]{1,2}$"
            [required]="
              applicant_type === APPLICANT_TYPE[1] &&
              currently_under_notice_period
            "
          />
        </div>
      </div>

      <div class="form-radio">
        <small
          >Have you appeared for any Zeus test in the past 12 Months?*</small
        >
        <div class="form-radio-items">
          <div
            class="form-radio-item"
            name="appeared-test"
            (click)="toggleAppearedStatus(APPLICANT_TYPE[1])"
          >
            <img
              *ngIf="appeared_test_before[1]"
              src="../../../../../assets/icons/radio-button-checked.svg"
              alt="selected"
            />
            <img
              *ngIf="!appeared_test_before[1]"
              src="../../../../../assets/icons/radio-button-unchecked.svg"
              alt="not selected"
            />
            <p>Yes</p>
          </div>
          <div
            class="form-radio-item"
            name="appeared-test"
            (click)="toggleAppearedStatus(APPLICANT_TYPE[1])"
          >
            <img
              *ngIf="!appeared_test_before[1]"
              src="../../../../../assets/icons/radio-button-checked.svg"
              alt="selected"
            />
            <img
              *ngIf="appeared_test_before[1]"
              src="../../../../../assets/icons/radio-button-unchecked.svg"
              alt="not selected"
            />
            <p>No</p>
          </div>
        </div>
      </div>

      <div class="form-group w-lg">
        <small>If yes,which role did you apply for?</small>

        <input
          type="text"
          name="role_appeared_before"
          #role_appeared_before="ngModel"
          [class.err]="
            role_appeared_before.touched && role_appeared_before.invalid
          "
          [(ngModel)]="experiencedQualifications.roleAppearedBefore"
          pattern="^[a-zA-Z]*$"
          [required]="
            applicant_type === APPLICANT_TYPE[1] && appeared_test_before[1]
          "
        />
      </div>
    </form>
  </div>

  <div *ngIf="applicant_type === APPLICANT_TYPE[0]" class="fresher-details">
    <form #fresherForm="ngForm">
      {{ fresherForm.valid }}
      <div class="form-checkbox-container">
        <small>Select all The technologies you are familiar in*</small>
        <div
          class="form-checkbox"
          *ngFor="
            let technology of fresher_familiar_technologies;
            let idx = index
          "
        >
          <div
            class="form-checkbox-input"
            (click)="toggleTechnologySelected(TECHNOLOGY_TYPE[0], idx)"
          >
            <img
              *ngIf="technology.selected"
              src="../../../../../assets/icons/checkbox-checked.svg"
              alt="checked"
            />
            <img
              *ngIf="!technology.selected"
              src="../../../../../assets/icons/checkbox-unchecked.svg"
              alt="unchecked"
            />
          </div>
          <p class="form-checkbox-label">{{ technology.technologyName }}</p>
        </div>
      </div>

      <div class="form-group w-lg">
        <small>If others, please mention</small>

        <input
          type="text"
          name="other_familiar_technologies"
          #other_familiar_technologies="ngModel"
          [class.err]="
            other_familiar_technologies.touched &&
            other_familiar_technologies.invalid
          "
          pattern="^[a-zA-Z]*$"
          [(ngModel)]="fresherQualifications.otherFamiliarTechnologies"
        />
      </div>

      <div class="form-radio" *ngIf="appeared_test_before">
        <small
          >Have you appeared for any Zeus test in the past 12 Months?*</small
        >
        <div class="form-radio-items">
          <div
            class="form-radio-item"
            name="appeared-test"
            (click)="toggleAppearedStatus(APPLICANT_TYPE[0])"
          >
            <img
              *ngIf="appeared_test_before[0]"
              src="../../../../../assets/icons/radio-button-checked.svg"
              alt="selected"
            />
            <img
              *ngIf="!appeared_test_before[0]"
              src="../../../../../assets/icons/radio-button-unchecked.svg"
              alt="not selected"
            />
            <p>Yes</p>
          </div>
          <div
            class="form-radio-item"
            name="appeared-test"
            (click)="toggleAppearedStatus(APPLICANT_TYPE[0])"
          >
            <img
              *ngIf="!appeared_test_before[0]"
              src="../../../../../assets/icons/radio-button-checked.svg"
              alt="selected"
            />
            <img
              *ngIf="appeared_test_before[0]"
              src="../../../../../assets/icons/radio-button-unchecked.svg"
              alt="not selected"
            />
            <p>No</p>
          </div>
        </div>
      </div>

      <div class="form-group w-lg">
        <small>If Yes,Which role did you apply For?</small>
        <input
          type="text"
          name="role_appeared_before"
          #role_appeared_before="ngModel"
          [class.err]="
            role_appeared_before.touched && role_appeared_before.invalid
          "
          [(ngModel)]="fresherQualifications.roleAppearedBefore"
          pattern="^[a-zA-Z\s]*$"
          [required]="
            applicant_type === APPLICANT_TYPE[0] && appeared_test_before[0]
          "
        />
      </div>
    </form>
  </div>
</div>

<div class="btn-group center">
  <button class="btn-success previous" (click)="navigateTo('personal')">
    PREVIOUS
  </button>
  <button class="btn-success" (click)="navigateTo('review')">NEXT</button>
</div>
