<div class="account-status">
  <div class="bg-line"><hr /></div>
  <div class="steps">
    <div class="step">
      <div class="step-icon center completed">
        <span>1</span>
      </div>
      <p class="step-title">Personal Information</p>
    </div>
    <div class="step">
      <div class="step-icon center">
        <span>2</span>
      </div>
      <p class="step-title">Qualifications</p>
    </div>
    <div class="step">
      <div class="step-icon center">
        <span>3</span>
      </div>
      <p class="step-title">Review and Proceed</p>
    </div>
  </div>
</div>
