<div class="step-three">
  <div class="headers">
    <h3 class="title">Personal Information</h3>
    <div class="edit" (click)="navigateTo('personal')">
      <img src="../../../../../assets/icons/edit.svg" alt="edit-icon" />
      <p>Edit</p>
    </div>
  </div>

  <div class="step-one">
    <form class="personal-form" #personalForm="ngForm">
      <div class="form-group">
        <small>First Name*</small>
        <p>{{ personalDetails.firstName | uppercase }}</p>
      </div>

      <div class="form-group">
        <small>Last Name*</small>
        <p>{{ personalDetails.lastName | uppercase }}</p>
      </div>

      <div class="form-group">
        <small>Email*</small>
        <p>{{ personalDetails.userEmail }}</p>
      </div>

      <div class="form-group">
        <small>Phone Number*</small>
        <div class="phone-number">
          <p *ngIf="personalDetails.phoneNumber">+</p>
          <p>{{ personalDetails.countryCode }}</p>
          <p>{{ personalDetails.phoneNumber }}</p>
        </div>
      </div>

      <div class="upload-resume">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M5 4v2h14V4H5zm0 10h4v6h6v-6h4l-7-7-7 7z" />
        </svg>
        <p>UPLOAD RESUME</p>
        <p class="resume-name">MyResume.pdf</p>
      </div>

      <div class="form-group">
        <small>Enter portfolio URL (if any)</small>
        <p>{{ personalDetails.portfolioUrl }}</p>
      </div>

      <div class="form-group">
        <small>Preferred Job Roles*</small>
        <p *ngFor="let job_roles of preferredJobRoles">
          {{ job_roles.jobTitle }}
        </p>
      </div>

      <div class="form-group referral">
        <small
          >If you are registering via a referral,please mention full name of the
          employee who referred you</small
        >
        <p *ngIf="personalDetails.referrerName; else referrerdash">
          {{ personalDetails.referrerName | uppercase }}
        </p>
        <ng-template #referrerdash>
          <p>-</p>
        </ng-template>
      </div>

      <div class="form-checkbox">
        <div class="form-checkbox-input">
          <img
            *ngIf="personalDetails.jobUpdates"
            src="../../../../../assets/icons/checkbox-checked.svg"
            alt="checked"
          />
          <img
            *ngIf="!personalDetails.jobUpdates"
            src="../../../../../assets/icons/checkbox-unchecked.svg"
            alt="unchecked"
          />
        </div>
        <p class="form-checkbox-label">Send me job related updates via mail</p>
      </div>
    </form>

    <div class="profile-image-container">
      <div class="profile-image">
        <img
          src="../../../../../assets/images/profile.png"
          alt="profile-image"
        />
      </div>
    </div>
  </div>

  <div class="headers">
    <h3 class="title">Qualifications</h3>
    <div class="edit" (click)="navigateTo('qualification')">
      <img src="../../../../../assets/icons/edit.svg" alt="edit-icon" />
      <p>Edit</p>
    </div>
  </div>

  <div class="step-two">
    <!-- education qualifications -->
    <div class="educational dropdown">
      <div
        class="dropdown-toggle open"
        (click)="educationalDropdown.classList.toggle('open')"
        #educationalDropdown
      >
        <p>Education Qualifications</p>
        <div class="dropdown-toggle-image">
          <img
            [class.open]="educationalDropdown.classList.contains('open')"
            src="../../../../../assets/icons/arrow-down.svg"
            alt="up-down"
          />
        </div>
      </div>

      <div
        class="educational-details dropdown-content"
        [class.open]="educationalDropdown.classList.contains('open')"
      >
        <form educationalForm="ngForm">
          <div class="form-group">
            <small>Aggregate Percentage*</small>
            <p>{{ educationalDetails.aggregatePercentage }}</p>
          </div>

          <div class="form-group">
            <small>Year of Passing*</small>
            <p>{{ educationalDetails.yearOfPassing }}</p>
          </div>

          <div class="select-container">
            <!-- qualification -->
            <div class="form-select">
              <small>Qualification*</small>
              <p>{{ educationalDetails.qualificationName }}</p>
            </div>

            <!-- stream -->
            <div class="form-select">
              <small>Stream*</small>
              <p>{{ educationalDetails.streamName }}</p>
            </div>

            <!-- college -->
            <div class="form-select">
              <small>College*</small>
              <p>{{ educationalDetails.collegeName }}</p>
            </div>

            <div class="form-group">
              <small>If Others, Please Enter Your College Name</small>
              <p
                *ngIf="
                  educationalDetails.otherCollegeName;
                  else otherCollegeDash
                "
              >
                {{ educationalDetails.otherCollegeName }}
              </p>
              <ng-template #otherCollegeDash>
                <p>-</p>
              </ng-template>
            </div>
          </div>

          <div class="form-group">
            <small>Where is your college located?</small>
            <p>{{ educationalDetails.collegeLocation }}</p>
          </div>
        </form>
      </div>
    </div>

    <!-- professional qualifications -->
    <div class="professional dropdown">
      <div
        class="dropdown-toggle open"
        (click)="professionalDropdown.classList.toggle('open')"
        #professionalDropdown
      >
        <p>Professional Qualifications</p>
        <div class="dropdown-toggle-image">
          <img
            [class.open]="professionalDropdown.classList.contains('open')"
            src="../../../../../assets/icons/arrow-down.svg"
            alt="up-down"
          />
        </div>
      </div>

      <div
        class="professional-details dropdown-content"
        [class.open]="professionalDropdown.classList.contains('open')"
      >
        <small>Applicant Type*</small>
        <p class="applicant-type">{{ applicant_type }}</p>
      </div>
    </div>

    <!-- experienced-details -->
    <div
      *ngIf="applicant_type === APPLICANT_TYPE[1]"
      class="experienced-details"
    >
      <form #exeperiencedForm="ngForm">
        <div class="form-group">
          <small>Years Of Experience*</small>
          <p>{{ experiencedDetails.yearsOfExperience }}</p>
        </div>

        <div class="form-group">
          <small>Current CTC* (In Rupees)</small>
          <p>{{ experiencedDetails.currentCtc }}</p>
        </div>

        <div class="form-group">
          <small>Expected CTC* (In Rupees)</small>
          <p>{{ experiencedDetails.expectedCtc }}</p>
        </div>

        <div class="form-group">
          <small>Select all The technologies you are expertise in*</small>
          <p *ngFor="let technology of experienced_expertise_technologies">
            {{ technology.technologyName }}
          </p>
        </div>

        <div class="form-group w-lg">
          <small>If others,please mention</small>
          <p
            *ngIf="
              experiencedDetails.otherExpertiseTechnologies;
              else experiencedOtherExpertiseTechDash
            "
          >
            {{ experiencedDetails.otherExpertiseTechnologies }}
          </p>
          <ng-template #experiencedOtherExpertiseTechDash>
            <p>-</p>
          </ng-template>
        </div>

        <div class="form-group">
          <small>Select all The technologies you are familiar in*</small>
          <p *ngFor="let technology of experienced_familiar_technologies">
            {{ technology.technologyName }}
          </p>
        </div>

        <div class="form-group w-lg">
          <small>If others,please mention</small>
          <p
            *ngIf="
              experiencedDetails.otherFamiliarTechnologies;
              else experiencedOtherFamiliarTechDash
            "
          >
            {{ experiencedDetails.otherFamiliarTechnologies }}
          </p>
          <ng-template #experiencedOtherFamiliarTechDash>
            <p>-</p>
          </ng-template>
        </div>

        <div class="form-group">
          <small>Are you currently under notice period?*</small>
          <p *ngIf="currently_under_notice_period">Yes</p>
          <p *ngIf="!currently_under_notice_period">No</p>
        </div>

        <div class="notice-period">
          <div class="form-group w-lg">
            <small>If yes,when will your notice period end?*</small>
            <p
              *ngIf="
                experiencedDetails.noticePeriodEnd;
                else experiencedNoticePeriodEndDash
              "
            >
              {{ experiencedDetails.noticePeriodEnd }}
            </p>
            <ng-template #experiencedNoticePeriodEndDash>
              <p>-</p>
            </ng-template>
          </div>

          <div class="form-group w-lg">
            <small>how long is your notice period?* (mention in months)</small>
            <p
              *ngIf="
                experiencedDetails.noticePeriodMonths;
                else experiencedNoticePeriodMonthDash
              "
            >
              {{ experiencedDetails.noticePeriodMonths }} months
            </p>
            <ng-template #experiencedNoticePeriodMonthDash>
              <p>-</p>
            </ng-template>
          </div>
        </div>

        <div class="form-group">
          <small
            >Have you appeared for any Zeus test in the past 12 Months?*</small
          >
          <p *ngIf="appeared_test_before[1]">Yes</p>
          <p *ngIf="!appeared_test_before[1]">No</p>
        </div>

        <div class="form-group w-lg">
          <small>If yes,which role did you apply for?</small>
          <p
            *ngIf="
              experiencedDetails.roleAppearedBefore;
              else experiencedRoleAppearedBeforeDash
            "
          >
            {{ experiencedDetails.roleAppearedBefore }}
          </p>
          <ng-template #experiencedRoleAppearedBeforeDash>
            <p>-</p>
          </ng-template>
        </div>
      </form>
    </div>

    <div *ngIf="applicant_type === APPLICANT_TYPE[0]" class="fresher-details">
      <form #fresherForm="ngForm">
        <div class="form-checkbox-container">
          <small>Select all The technologies you are familiar in*</small>
          <p *ngFor="let technology of fresher_familiar_technologies">
            {{ technology.technologyName }}
          </p>
        </div>

        <div class="form-radio">
          <small
            >Have you appeared for any Zeus test in the past 12 Months?*</small
          >
          <p *ngIf="appeared_test_before[0]">Yes</p>
          <p *ngIf="!appeared_test_before[0]">No</p>
        </div>

        <div class="form-group w-100">
          <small>If Yes,Which role did you apply For?</small>
          <p
            *ngIf="
              fresherDetails.roleAppearedBefore;
              else fresherRoleAppliedBeforeDash
            "
          >
            {{ fresherDetails.roleAppearedBefore }}
          </p>
          <ng-template #fresherRoleAppliedBeforeDash>
            <p>-</p>
          </ng-template>
        </div>
      </form>
    </div>
  </div>

  <div class="previous center">
    <button class="btn-success" (click)="navigateTo('qualification')">
      PREVIOUS
    </button>
  </div>
</div>
