<div class="step-three">
  <div class="headers">
    <h3 class="title">Personal Information</h3>
    <div class="edit" (click)="navigateTo('personal')">
      <img src="../../../../../assets/icons/edit.svg" alt="edit-icon" />
      <p>Edit</p>
    </div>
  </div>

  <div class="step-one">
    <form class="personal-form" #personalForm="ngForm">
      <div class="form-group">
        <small>First Name*</small>
        <p>John</p>
      </div>

      <div class="form-group">
        <small>Last Name*</small>
        <p>Watson</p>
      </div>

      <div class="form-group">
        <small>Email*</small>
        <p>Johnwatson@example.com</p>
      </div>

      <div class="form-group">
        <small>Phone Number*</small>
        <div class="phone-number">
          <p>+</p>
          <p>91</p>
          <p>9876543210</p>
        </div>
      </div>

      <div class="upload-resume">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M5 4v2h14V4H5zm0 10h4v6h6v-6h4l-7-7-7 7z" />
        </svg>
        <p>UPLOAD RESUME</p>
        <p class="resume-name">MyResume.pdf</p>
      </div>

      <div class="form-group">
        <small>Enter portfolio URL (if any)</small>
        <p>www.myportfolio.in</p>
      </div>

      <div class="form-group">
        <small>Preferred Job Roles*</small>
        <p>Instructional Designer</p>
        <p>Software Quality Engineer</p>
      </div>

      <div class="form-group referral">
        <small
          >If you are registering via a referral,please mention full name of the
          employee who referred you</small
        >
        <p>-</p>
      </div>
    </form>

    <div class="profile-image-container">
      <div class="profile-image">
        <img
          src="../../../../../assets/images/profile.png"
          alt="profile-image"
        />
      </div>
    </div>
  </div>

  <div class="headers">
    <h3 class="title">Qualifications</h3>
    <div class="edit" (click)="navigateTo('qualification')">
      <img src="../../../../../assets/icons/edit.svg" alt="edit-icon" />
      <p>Edit</p>
    </div>
  </div>

  <div class="step-two">
    <!-- education qualifications -->
    <div class="educational dropdown">
      <div
        class="dropdown-toggle"
        (click)="education.classList.toggle('open')"
        #education
      >
        <p>Education Qualifications</p>
        <div class="dropdown-toggle-image">
          <img
            [class.open]="education.classList.contains('open')"
            src="../../../../../assets/icons/arrow-down.svg"
            alt="up-down"
          />
        </div>
      </div>

      <div
        class="educational-details dropdown-content"
        [class.open]="education.classList.contains('open')"
      >
        <form educationalForm="ngForm">
          <div class="form-group">
            <small>Aggregate Percentage*</small>
            <p>65</p>
          </div>

          <div class="form-group">
            <small>Year of Passing*</small>
            <p>2021</p>
          </div>

          <div class="select-container">
            <!-- qualification -->
            <div class="form-select">
              <small>Qualification*</small>
              <p>Bachelor in Technology (BTech)</p>
            </div>

            <!-- stream -->
            <div class="form-select">
              <small>Stream*</small>
              <p>Information Technology</p>
            </div>

            <!-- college -->
            <div class="form-select">
              <small>College*</small>
              <p>Pune Institute of Technology (PT)</p>
            </div>

            <!-- <div class="form-select"> -->
            <div class="form-group">
              <small>If Others, Please Enter Your College Name</small>
              <p>-</p>
            </div>
          </div>

          <div class="form-group">
            <small>Where is your college located?</small>
            <p>Pune</p>
          </div>
        </form>
      </div>
    </div>

    <!-- professional qualifications -->
    <div class="professional dropdown">
      <div
        class="dropdown-toggle"
        (click)="professional.classList.toggle('open')"
        #professional
      >
        <p>Professional Qualifications</p>
        <div class="dropdown-toggle-image">
          <img
            [class.open]="professional.classList.contains('open')"
            src="../../../../../assets/icons/arrow-down.svg"
            alt="up-down"
          />
        </div>
      </div>

      <div
        class="professional-details dropdown-content"
        [class.open]="professional.classList.contains('open')"
      >
        <small>Applicant Type*</small>
        <p class="applicant-type">{{ applicant_type }}</p>
      </div>
    </div>

    <!-- experienced-details -->
    <div *ngIf="applicant_type === 'experienced'" class="experienced-details">
      <form #exeperiencedForm="ngForm">
        <div class="form-group">
          <small>Years Of Experience*</small>
        </div>

        <div class="form-group">
          <small>Current CTC* (In Rupees)</small>
          <p>5,00,000</p>
        </div>

        <div class="form-group">
          <small>Expected CTC* (In Rupees)</small>
          <p>6,00,000</p>
        </div>

        <div class="form-group">
          <small>Select all The technologies you are expertise in*</small>
          <p>JavaScript</p>
        </div>

        <div class="form-group w-lg">
          <small>If others,please mention</small>
          <p>-</p>
        </div>

        <div class="form-group">
          <small>Select all The technologies you are familiar in*</small>
          <p>AngularJS</p>
          <p>ReactJS</p>
        </div>

        <div class="form-group w-lg">
          <small>If others,please mention</small>
          <p>-</p>
        </div>

        <div class="form-group">
          <small>Are you currently under notice period?*</small>
          <p>Yes</p>
        </div>

        <div class="notice-period">
          <div class="form-group w-lg">
            <small>If yes,when will your notice period end?*</small>
            <p>20 May 2020</p>
          </div>

          <div class="form-group w-lg">
            <small>how long is your notice period?* (mention in months)</small>
            <p>2 months</p>
          </div>
        </div>

        <div class="form-group">
          <small
            >Have you appeared for any Zeus test in the past 12 Months?*</small
          >
          <p>No</p>
        </div>

        <div class="form-group w-lg">
          <small>If yes,which role did you apply for?</small>
          <p>-</p>
        </div>
      </form>
    </div>

    <div *ngIf="applicant_type === 'fresher'" class="fresher-details">
      <form #fresherForm="ngForm">
        <div class="form-checkbox-container">
          <small>Select all The technologies you are familiar in*</small>
          <div class="form-checkbox" *ngFor="let technology of technologies">
            <div
              class="form-checkbox-input"
              (click)="technology.selected = !technology.selected"
            >
              <img
                *ngIf="technology.selected"
                src="../../../../../assets/icons/checkbox-checked.svg"
                alt="checked"
              />
              <img
                *ngIf="!technology.selected"
                src="../../../../../assets/icons/checkbox-unchecked.svg"
                alt="unchecked"
              />
            </div>
            <p class="form-checkbox-label">{{ technology.title }}</p>
          </div>
        </div>

        <div class="form-radio">
          <small
            >Have you appeared for any Zeus test in the past 12 Months?*</small
          >
          <div class="form-radio-items">
            <div
              class="form-radio-item"
              name="appeared-test"
              (click)="appeared_test_before = !appeared_test_before"
            >
              <img
                *ngIf="appeared_test_before"
                src="../../../../../assets/icons/radio-button-checked.svg"
                alt="selected"
              />
              <img
                *ngIf="!appeared_test_before"
                src="../../../../../assets/icons/radio-button-unchecked.svg"
                alt="not selected"
              />
              <p>Yes</p>
            </div>
            <div
              class="form-radio-item"
              name="appeared-test"
              (click)="appeared_test_before = !appeared_test_before"
            >
              <img
                *ngIf="!appeared_test_before"
                src="../../../../../assets/icons/radio-button-checked.svg"
                alt="selected"
              />
              <img
                *ngIf="appeared_test_before"
                src="../../../../../assets/icons/radio-button-unchecked.svg"
                alt="not selected"
              />
              <p>No</p>
            </div>
          </div>
        </div>

        <div class="form-group w-100">
          <small>If others,please mention</small>
          <input type="text" />
        </div>
      </form>
    </div>
  </div>

  <div class="previous center">
    <button class="btn-success" (click)="navigateTo('qualification')">
      PREVIOUS
    </button>
  </div>
</div>
