.step-one {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.5rem;
  box-sizing: border-box;
}

.personal-form {
  width: 50%;
}

.phone-number {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.phone-number p {
  height: 100%;
  font-size: 1.5rem;
}

.phone-number input {
  margin: 0 0.5rem;
  width: 100px;
}

.phone-number .country-code {
  width: 1rem !important;
}

.profile-image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 180px;
}

.profile-image-container p {
  font-size: 12px;
  color: #1f7a54;
  font-family: QuicksandBold, sans-serif;
}

.profile-image-container small {
  font-size: 10px;
  font-family: QuicksandBold, sans-serif;
  color: #757575;
}

.profile-image {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile-image img {
  height: 100%;
  width: 100%;
}

@media (max-width: 610px) {
  .step-one {
    flex-direction: column;
  }

  .personal-form {
    width: 100%;
  }

  .profile-image-container {
    order: -1;
    margin: 2rem auto;
    margin-top: 0;
  }
}
