.step-two .form-group {
  height: fit-content;
}

.step-two small {
  font-size: 12px;
  color: #666;
  text-transform: capitalize;
}

.step-two .form-group p,.step-two .form-select p {
  font-size: 1rem;
  font-family: QuicksandBold, sans-serif;
  margin-top: 0.75rem;
}

.applicant-type {
  margin-top:1rem;
  text-transform: capitalize;
}

/* education qualification  */
.select-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.step-two .select-container .form-group {
  width: 48%;
}

/* applicant forms CSS */
.experienced-details,
.fresher-details {
  background-color: #fff;
  padding: 2rem;
  margin-top: 2rem;
}

.notice-period {
  display: flex;
  flex-wrap: wrap;
}

.w-lg {
  width: 50%;
  padding-right: 1rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  /* education qualification  */
  .step-two .form-select,
  .step-two .select-container .form-group {
    width: 100%;
  }

  /* experienced details notice period */
  .w-lg {
    width: 100%;
    padding-right: 0;
  }
}
