.step-one {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.5rem;
  box-sizing: border-box;
}

.step-one .form-group {
  height: fit-content;
}

.form-group p {
  font-size: 1rem;
  font-family: QuicksandBold, sans-serif;
  margin-top: 0.75rem;
}

.personal-form {
  width: 50%;
}

.phone-number {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.phone-number p {
  height: 100%;
  font-size: 1rem;
  margin-right: 0.5rem;
}

/* resume upload  */
.upload-resume {
  margin: 1.5rem 0;
  display: flex;
  height: 24px;
  width: 100%;
}

.upload-resume svg {
  min-width: 2rem;
}

.upload-resume p {
  font-size: 1rem; 
  white-space: nowrap;
}

.resume-name {
  margin-left: 0.5rem;
  font-family: QuicksandBold, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 180px;
}

.profile-image {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile-image img {
  height: 100%;
  width: 100%;
}

@media (max-width: 610px) {
  .step-one {
    flex-direction: column;
  }

  .personal-form {
    width: 100%;
  }

  .profile-image-container {
    order: -1;
    margin: 2rem auto;
    margin-top: 0;
  }
}
