.step-two .form-group {
  width: 200px;
}

/* education qualification  */
.select-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.select-container .form-group {
  width: 48%;
}

/* professional qualifications */
.professional-details .form-radio {
  margin-bottom: 0;
}

/* applicant forms CSS */
.experienced-details,
.fresher-details {
  background-color: #fff;
  padding: 2rem;
  margin-top: 2rem;
}

.notice-period {
  display: flex;
  flex-wrap: wrap;
}

.w-lg {
  width: 50%;
  padding-right: 1rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  /* education qualification  */
  .step-two .form-select,
  .step-two .select-container .form-group {
    width: 100%;
  }

  /* experienced details notice period */
  .w-lg {
    width: 100%;
    padding-right: 0;
  }
}
