<div class="container">
  <div class="app-login center">
    <form class="login-form" #loginForm="ngForm">
      <div class="login-header">
        <h2>Login</h2>
      </div>

      <div class="form-group">
        <input
          type="text"
          name="user_email"
          #user_email="ngModel"
          [(ngModel)]="userEmail"
          placeholder="Email ID*"
          [class.err]="user_email.invalid && user_email.touched"
          required
        />
        <a href="#" class="recovery-link">FORGOT EMAIL ID?</a>
      </div>

      <div class="form-group">
        <input
          type="password"
          name="user_password"
          #user_password="ngModel"
          [(ngModel)]="userPassword"
          placeholder="Password*"
          [class.err]="user_password.invalid && user_password.touched"
          required
          [attr.type]="passwordShow ? 'text' : 'password'"
        />

        <img
          src="../../assets/icons/preview.svg"
          class="password-toggle"
          alt="password-toggle"
          [attr.src]="
            passwordShow
              ? '../../assets/icons/hide-visibility.svg'
              : '../../assets/icons/preview.svg'
          "
          (click)="passwordShow = !passwordShow"
        />
        <a href="#" class="recovery-link">FORGOT PASSWORD?</a>
      </div>
      <div class="login-remember">
        <img
          *ngIf="rememberChecked"
          src="../../assets/icons/checkbox-checked.svg"
          (click)="rememberChecked = !rememberChecked"
          alt="checked"
        />
        <img
          *ngIf="!rememberChecked"
          (click)="rememberChecked = !rememberChecked"
          src="../../assets/icons/checkbox-unchecked.svg"
          alt="unchecked"
        />
        <label for="login-remember">Remember</label>
      </div>

      <button
        type="submit"
        (click)="login()"
        class="login-btn"
        [class.disabled]="!loginForm.valid"
        [disabled]="!loginForm.valid"
      >
        LOGIN
      </button>

      <p>Not registered yet?</p>
      <a [routerLink]="['/create-account']" class="create-account"
        >Create an account?</a
      >
    </form>
  </div>
</div>
