.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 415px;
  background-color: #fff;
  border-top: 4px solid #31b9e4;
  margin-top: 75px;
  padding: 2rem;
}

.login-header {
  height: 30px;
  margin-bottom: 2rem;
}

.login-header h2 {
  font-size: 2rem;
}

.form-group {
  position: relative;
  margin:0;
  padding-bottom: 2rem;
}

.form-group input {
  height: 2rem;
  margin: 0;
}

.form-group .password-toggle {
  position: absolute;
  right: 0;
  top: 0.5rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.form-group .recovery-link {
  text-align: right;
  font-size: 1rem;
  font-family: QuicksandBold, sans-serif;
  color: #1f7a54;
  text-decoration: none;
  margin-top:0.25rem;
}

.login-remember {
  display: flex;
  font-family: QuicksandBold, sans-serif;
  align-items: center;
  align-self: flex-start;
}

.login-remember img {
  margin-right: 0.5rem;
}

.login-btn {
  margin: 16px auto;
}

.login-btn button {
  width: 216px;
  height: 40px;
  background-color: #3fd28b;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.login-form p {
  font-size: 12px;
}

.login-form .create-account {
  font-size: 16px;
  text-decoration: none;
  color: #1F7A54;
  font-family: QuicksandBold, sans-serif;
  margin-top: 4px;
}
