.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 415px;
  background-color: #fff;
  border-top: 4px solid #31b9e4;
  margin-top: 75px;
  padding: 24px 32px;
}

.login-header {
  height: 30px;
  margin-bottom: 32px;
}

.login-header h2 {
  font-size: 24px;
}

.form-group {
  height: 48px;
  width: 100%;
  position: relative;
  margin-bottom: 26px;
}

.form-group .form-input {
  width: 100%;
  height: 25px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.form-group .password-toggle {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.form-group .recovery-link {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  font-family: QuicksandBold, sans-serif;
  color: #1f7a54;
  text-decoration: none;
}

.login-remember {
  display: flex;
  font-family: QuicksandBold, sans-serif;
  align-items: center;
  align-self: flex-start;
}

.login-btn {
  margin: 16px auto;
}

.login-btn button {
  width: 216px;
  height: 40px;
  background-color: #3fd28b;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.login-form p {
  font-size: 12px;
}

.login-form .create-account {
  font-size: 16px;
  text-decoration: none;
  color: #1F7A54;
  font-family: QuicksandBold, sans-serif;
  margin-top: 4px;
}
