<div class="container">
  <div class="app-login center">
    <form class="login-form" action="">
      <div class="login-header">
        <h2>Login</h2>
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="user_email" name="user_email" class="form-input" placeholder="Email ID*" />
        <a href="#" class="recovery-link">FORGOT EMAIL ID?</a>
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="user_password" name="user_password" class="form-input" placeholder="Password*" />
        <img
          src="../../assets/icons/preview.svg"
          class="password-toggle"
          alt="password-toggle"
        />
        <a href="#" class="recovery-link">FORGOT PASSWORD?</a>
      </div>
      <div class="login-remember">
        <img *ngIf="rememberChecked" (click)="rememberChecked=!rememberChecked" src="../../assets/icons/checkbox-checked.svg" alt="checked">
        <img *ngIf="!rememberChecked" (click)="rememberChecked=!rememberChecked" src="../../assets/icons/checkbox-unchecked.svg" alt="unchecked">
        <label for="login-remember">Remember</label>
      </div>

      <div class="login-btn">
        <button type="submit" (click)="validate()" class="login-btn">LOGIN</button>
      </div>

      <p>Not registered yet?</p>
      <a href="#" class="create-account">Create an account?</a>
    </form>
  </div>
</div>
