.account-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 48px;
  color: #fff;
  padding: 0 1rem;
  background-color: #3c4e62;
}

.account-header h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back {
  width: 200px;
  cursor: pointer;
}

.back img {
  transform: rotate(-90deg);
  width: 16px;
}

.account-handle {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

@media (max-width: 610px) {
  .account-header {
    padding: 1rem;
  }

  .back {
    position: absolute;
    width: 10%;
    top: 1rem;
    left: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .account-header h3{
    text-align: center;
    width: 100%;
  }

  .account-handle {
    margin:1rem auto;
    margin-bottom: 0;
  }
}
